@import "main.css";


@font-face{
  font-family: TTLakes-Regular;
  src: url(fonts/TTLakes-Regular.woff);
  }
  @font-face{
    font-family: TTLakes-Bold;
    src: url(fonts/TTLakes-Bold.woff);
    }
    @font-face{
      font-family: TTLakes-Medium;
      src: url(fonts/TTLakes-Medium.woff);
      }
  
  
  
  body{
  background-color: #F8F8F8;
  font-size: 14px;
  
  margin: 0;
  }

button{
  cursor: pointer;
}
























  
