@font-face{
font-family: TTLakes-Regular;
src: url(fonts/TTLakes-Regular.woff);
}
@font-face{
  font-family: TTLakes-Bold;
  src: url(fonts/TTLakes-Bold.woff);
  }
  @font-face{
    font-family: TTLakes-Medium;
    src: url(fonts/TTLakes-Medium.woff);
    }

html{
    box-sizing: border-box;
}

body{
background-color: #F8F8F8;
font-size: 14px;

margin: 0;
}

.burger{

}
.header__wrapper{
display:flex;
flex-direction: column-reverse;
padding: 18px 16px 24px 16px;
background-color: white;
font-family: TTLakes-Bold;

}


.subTittle{
  font-family: TTLakes-Bold;
  margin-left: 0;
}
.header__container{
display: flex;
align-items: center;
justify-content: space-between;
}
.header__rightSide{
display: flex;
column-gap: 16px; 
align-items: center;

}
.leftSide__icons{
display: flex;
align-items: center;
column-gap: 16px;
}
h1{
  position: relative;
  }

h1::before{

content: "";
border: 1.5px solid #41F6D7;
height: 40px;
margin-right: 18px;
border-radius: 5px;
}
.reviews{
  font-family: TTLakes-Medium;

}


.dividerLeft {
  display: none;
}
.dividerRight{
  background: #EAEAEA;
  height: 32px;
  width: 2px;
  margin: 0 20px 0 16px;
}



.statuses{
  display: flex;
   column-gap: 16px; 
font-family: TTLakes-Medium;  
align-items: center;
font-size: 16px;
  }
  .call, .chat, .profile{
    display: none;

  }
  .statuses a {
    display: none
  }
  
    
  

.menu{
display: flex;
font-family: TTLakes-Medium;
margin-left: 18px;
padding: 0;
margin-top: -10px;
column-gap: 22px;
align-items: center;
color: #7E7E82;
overflow-x: scroll;
}

.menu__item {
text-decoration: none;
list-style-type: none;
font-size: 16px;
white-space: nowrap;

}

  
.menu__item:first-child{
border: 2px solid #B8FFEC;
border-radius: 5%;

background-color: white;
padding: 8px 22px;

}

.menu__item:last-child {
 padding: 14px 24px;
}


.main{
    font-family: 'TT Lakes Regular';
    font-size: 14px;
}

.imgCps{
   
    background: url('mainespc.png') no-repeat;
   min-width: 320px;
   min-height: 176px;  
}

.description{
  font-family: TTLakes-Regular;
  max-width: 490px;
  }
.description__text{
height: 100px;
overflow: hidden;

}
.next{
  
  font-family: TTLakes-Medium;
  
}

.arrow{
 display: inline;
  margin-right: 8px;
}



@media(min-width: 768px){
 
  .dividerLeft {
    background: #EAEAEA;
    height: 32px;
    width: 2px;
    display: block;
  }

  .call, .chat, .profile{
    display: block;

  }
.general__wrapper{
  padding: 32px 24px;
  display: flex;
}
.description__text{
  height: 145px;
}

 .imgCps{
  display: block;
 }
 .imgCps{
  background: url(img_medium.png) no-repeat;
  min-width: 360px;
   min-height: 208px;
   border-radius: 2%;
 }
  .statuses{
    display: flex;
    
    
      & figure {
        display: flex;
        justify-content:space-around;
    align-items: center;
    
    
      }
    
      & figcaption{
    min-width: 125px;
    font-family: TTLakes-Medium;
    font-size: 16px;
    
      }
    }
    .menu{
      display: flex;
      font-family: TTLakes-Medium;
      justify-content:space-between;
      padding: 0;
      margin: 0;
      column-gap: 22px;
      margin-left: 24px;
      color: #7E7E82;
      overflow-x: scroll;
      }
      .description{
        display: flex;
        flex-direction: column;
      }

  }
  @media(min-width: 1120px){
    .header__wrapper{
      margin-top: 30px;
      background-color:inherit;
      }
      .call, .chat, .profile, .burger, .cps {
        display: none;
    
      }
      .description__text{
        height: auto;
      }
    .imgCps{
      background: url('img_large.jpg') no-repeat;
      min-width: 532px;
       min-height: 308px;
       margin-left: 32px;
       border-radius: 2%;
     }
     .subTittle{
      margin-top: -80px;
     }
     .dividerLeft {
      display: none;
    }
    .dividerRight{
      display: none;
    }

    .statuses a {
      display: inline
    }
  }